.treeSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.node circle {
    fill: #ffffff;
    stroke-width: 1.5px;
    stroke-opacity: 1.0;
    stroke: #000000;
    r: 40px;
}

.node text {
    font: 20px sans-serif;
}

.link {
    fill: none;
    stroke: #555;
    stroke-width: 1.5px;
}