.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
.button {
  padding: 10px 20px;
}

.serialInput {
  width: 25vw;
}